<div class="container">
  <div class="row">

    <div class="col-lg-1" style="padding-right: 0;margin-top: 10px;">
      <a href="/">
        <div class="item-m">
          <i class="fa fa-home" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
      <a href="/profile">
        <div class="item-m">
          <i class="fa fa-user" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
      <a href="/travels">
        <div class="item-m">
          <i class="fa fa-globe" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
      <a href="#">
        <div class="active">
          <i class="fa fa-shopping-cart" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
    </div>
 
  <div class="col-lg-11">
    <div class="MainArea-products" ng-controller="ProductsCtrl">

      <div class="container">
        <button class="btn btn-active" ng-click="nextProduct()"></button>
        <div class="card" ng-repeat="item in products">
          <img class="icon" ng-src="http://www.backcountry.com{{item.skus[0].image.url}}">
          <h2 class="title">{{ item.title }}</h2>
          <p class="availabilityStatus">{{item.availabilityStatus }}</p>
          <p class="price">{{ item.skus[0].listPrice | currency }}</p>
        </div>

      </div>
    </div>
  </div>

</div>
</div>


<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
