<div class="container">
  <div class="row">

    <div class="col-lg-1" style="padding-right: 0;margin-top: 10px;">
      <a href="/">
        <div class="item-m">
          <i class="fa fa-home" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
      <a href="/profile">
        <div class="item-m">
          <i class="fa fa-user" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
      <a href="/travels">
        <div class="item-m">
          <i class="fa fa-globe" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
      <a href="#">
        <div class="active">
          <i class="fa fa-shopping-cart" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
    </div>

    <div class="col-lg-11">
      <div class="MainArea-products" ng-controller="ProductsCtrl">

        <div class="row marco">
          <div class="col-lg-10">
            <h2><span class="fa-stack fa-lg" style="font-size: 1em;">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
            </span> Cerro Chirripo Trip</h2>
            <div class="card" ng-repeat="item in products">
              <img class="icon" ng-src="http://www.backcountry.com{{item.skus[0].image.url}}" style="width: 185px;height: auto">

              <h2 class="title">{{ item.title }}</h2>

              <p class="availabilityStatus">{{item.availabilityStatus }}</p>

              <p class="price">{{ item.skus[0].listPrice | currency }}</p>
            </div>
          </div>

          <div class="col-lg-2">
            <a class="btn btn-default" ng-click="nextProduct()">
              <i class="fa fa-caret-right fa-lg"></i></a>
          </div>

        </div>

        <div class="row marco">

          <div class="col-lg-10">
            <h2><span class="fa-stack fa-lg" style="font-size: 1em;">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
            </span> Arenal Volcano Trip</h2>
            <div class="card" ng-repeat="item in products">
              <img class="icon" ng-src="http://www.backcountry.com{{item.skus[0].image.url}}" style="width: 185px;height: auto">

              <h2 class="title">{{ item.title }}</h2>

              <p class="availabilityStatus">{{item.availabilityStatus }}</p>

              <p class="price">{{ item.skus[0].listPrice | currency }}</p>
            </div>
          </div>

          <div class="col-lg-2">
            <a class="btn btn-default" ng-click="nextProduct()">
              <i class="fa fa-caret-right fa-lg"></i></a>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>


<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
