<div class="container">
  <div class="row">
    <div class="col-lg-1" style="padding-right: 0;margin-top: 10px;">
      <a href="/">
        <div class="item-m">
          <i class="fa fa-home" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
      <a href="/profile">
        <div class="item-m">
          <i class="fa fa-user" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
      <a href="#">
        <div class="active">
          <i class="fa fa-globe" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
      <a href="/products">
        <div class="item-m">
          <i class="fa fa-shopping-cart" style="margin:auto; color: black;font-size: 5em;"></i>
        </div>
      </a>
    </div>
    <div class="col-lg-2" id="menu">
      <ul class="nav nav-pills" style="margin-top: 10px;">
        <li class="active item-menu"><a href="#">Home</a></li>
        <li class="item-menu"><a href="#">Create tour</a></li>
        <li class="item-menu"><a href="#">Search Tour</a></li>
        <li class="item-menu"><a href="#">Tour Map</a></li>
        <li class="item-menu"><a href="#">Calendar</a></li>
      </ul>
    </div>

    <div class="col-lg-3">

      <div ng-controller="TravelsCtrl">
        <div ng-repeat="travel in awesomeTravels">

          <div class="image">

            <img id="image" src="{{ travel.img }}" alt=""/>

            <h2 class="photo-title h2-travels" ng-click="toActivities($index)">{{travel.name}}</h2>

            <div class="row">
              <div class="col-sm-6">
                <img class="calls-column" src="{{travel.activities[0]}}">
              </div>
              <div class="col-sm-6">
                <img class="calls-column" src="{{travel.activities[1]}}">
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-6">
      <iframe width="600" height="450" frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/streetview?location=9.4846%2C-83.4886&key=AIzaSyA_nFjT6Y836HPgEBiNuckSQKZFb4sxmDQ"></iframe>

    </div>

  </div>
</div>


<footer class="footer">
  <div class="container">
    <p>Dragonfly v0.1
  </div>
</footer>
