.active{
  background-color: #007FFF;
}
.item-m{
  text-align: center;
}
.item-m:hover{
  background-color: #428bca;
}
.active{
  text-align: center;
}
#menu{
  background-color: #FFA000;
  height: 600px;
  margin-top: 10px;
}

.item-menu a{
  font-size: 20px;
  solid-color: #428bca;
}
.image {
  position: relative;
  width: 25px;
  height: auto;
}

#image{
  width: 250px;
  height: 300px;
}

.h2-travels {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  color:white;
}

.h2-travels:hover{
  color:lightseagreen;
}

.mini-img{
  position;
}
